h3 {
   margin-bottom: 1px;
   margin-top: 5px;
   text-align: left;
}

.costomer_panel_container{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.customer_panel_info {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

